body {
    font-family: Arial, sans-serif;
    background-color: #101010;
    color: white;
    text-align: center;
}

h1 {
    color: #ff4757;
}

.anime-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
    margin-top: 30px;
}

.anime-card {
    background-color: #202020;
    border-radius: 10px;
    padding: 15px;
    width: 250px;
    box-shadow: 0 0 10px rgba(255, 71, 87, 0.3);
}

.anime-card img {
    width: 100%;
    border-radius: 8px;
}
